@model OGSys.Web.Models.Customer

@{
    ViewBag.Title = "Create Customer";
}

<h2>Create New Customer</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @* -- LEFT COLUMN -- *@
        <div class="medium-6 column">
            <div class="row">
                <div class="small-4 column">
                    <label>First Name</label>
                </div>
                <div class="small-8 column">
                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="small-4 column">
                    <label>Last Name</label>
                </div>
                <div class="small-8 column">
                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="small-4 column">
                    <label>Employer</label>
                </div>
                <div class="small-8 column">
                    @Html.EditorFor(model => model.CompanyName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="small-4 column">
                    <label>Main Phone</label>
                </div>
                <div class="small-8 column">
                    @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="small-4 column">
                    <label>Email</label>
                </div>
                <div class="small-8 column">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>

        @* -- RIGHT COLUMN -- *@
        <div class="medium-6 column">

            <div class="row">
                <div class="small-4 column">
                    <label>Address</label>
                </div>
                <div class="small-8 column">
                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="small-4 column">
                    <label>City</label>
                </div>
                <div class="small-8 column">
                    @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="small-4 column">
                    <label>State (US)</label>
                </div>
                <div class="small-8 column">
                    @Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="small-4 column">
                    <label>ZIP Code</label>
                </div>
                <div class="small-8 column">
                    @Html.EditorFor(model => model.Zip, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Zip, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>

        <div class="button-bar right" style="padding-right:15px">
            <input type="submit" value="Create" class="tiny button" />
            @Html.ActionLink("Back To List", "Index", null, new { @class = "tiny button" })
        </div>
    </div>
}

<span style="font-style:italic">*No fields are currently required.</span>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
