@model DBDemo.Web.Models.Customer

@{
    ViewBag.Title = "Details";
}

<h1>Details</h1>

<div class="row" style="margin-bottom: 10px">
    <div>
        <hr />
        <h5>
            View, edit, or delete this customer.
        </h5>
        <hr />
    </div>
</div>

<div class="row">
    <div class="medium-12 column">
        <div class="contentBox has-shadow">
            <section id="customerDetails">

                <div class="row">
                    <div class="medium-12 column">
                        <h3><span class="customer-label">@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</span></h3>
                        <hr />
                    </div>
                </div>

                <div class="row">
                    <div class="medium-12 column">
                        <div class="row customer-details">
                            <div class="small-3 column">
                                <span class="customer-label">@Html.DisplayNameFor(model => model.CompanyName)</span>
                            </div>
                            <div class="small-9 column">
                                @Html.DisplayFor(model => model.CompanyName)
                            </div>
                        </div>
                        <div class="row customer-details">
                            <div class="small-3 column">
                                <span class="customer-label">@Html.DisplayNameFor(model => model.PhoneNumber)</span>
                            </div>
                            <div class="small-9 column">
                                @Html.DisplayFor(model => model.PhoneNumber)
                            </div>
                        </div>
                        <div class="row customer-details">
                            <div class="small-3 column">
                                <span class="customer-label">@Html.DisplayNameFor(model => model.Email)</span>
                            </div>
                            <div class="small-9 column">
                                @Html.DisplayFor(model => model.Email)
                            </div>
                        </div>
                        <div class="row customer-details">
                            <div class="small-3 column">
                                <span class="customer-label">@Html.DisplayNameFor(model => model.Address)</span>
                            </div>
                            <div class="small-9 column">
                                @Html.DisplayFor(model => model.Address)
                            </div>
                        </div>
                        <div class="row customer-details">
                            <div class="small-3 column">
                                <span class="customer-label">@Html.DisplayNameFor(model => model.City)</span>
                            </div>
                            <div class="small-9 column">
                                @Html.DisplayFor(model => model.City)
                            </div>
                        </div>
                        <div class="row customer-details">
                            <div class="small-3 column">
                                <span class="customer-label">@Html.DisplayNameFor(model => model.State)</span>
                            </div>
                            <div class="small-9 column">
                                @Html.DisplayFor(model => model.State)
                            </div>
                        </div>
                        <div class="row customer-details">
                            <div class="small-3 column">
                                <span class="customer-label">@Html.DisplayNameFor(model => model.Zip)</span>
                            </div>
                            <div class="small-9 column">
                                @Html.DisplayFor(model => model.Zip)
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="button-bar right" style="padding-right:15px">
                        @Html.ActionLink("Edit Customer Details", "Edit", new { id = Model.CustomerId }, new { @class = "small button" })
                        @Html.ActionLink("Back to List", "Index", null, new { @class = "small button" })
                    </div>
                </div>

            </section>

        </div>
    </div>
</div>

