@model OGSys.Web.Models.Customer

@{
    ViewBag.Title = "Details";
}

<h1>Details</h1>

<div class="row" style="margin-bottom: 10px">
    <div>
        <hr />
        <h5>View details, edit, or delete this customer. Return to customer database to add a new customer.</h5>
        <hr />
    </div>
</div>

<div class="row">
    <div class="medium-12 column">
        <div class="contentBox has-shadow">
            <section id="customerDetails">
                <h4>Customer</h4>
                <hr />
                <div class="row">

                    <div class="medium-6 column">
                        <div class="row customer-details">
                            <div class="small-4 column">
                                <label>@Html.DisplayNameFor(model => model.FirstName)</label>
                            </div>
                            <div class="small-8 column">
                                @Html.DisplayFor(model => model.FirstName)
                            </div>
                        </div>
                        <div class="row customer-details">
                            <div class="small-4 column">
                                <label>@Html.DisplayNameFor(model => model.LastName)</label>
                            </div>
                            <div class="small-8 column">
                                @Html.DisplayFor(model => model.LastName)
                            </div>
                        </div>
                        <div class="row customer-details">
                            <div class="small-4 column">
                                <label>@Html.DisplayNameFor(model => model.CompanyName)</label>
                            </div>
                            <div class="small-8 column">
                                @Html.DisplayFor(model => model.CompanyName)
                            </div>
                        </div>
                        <div class="row customer-details">
                            <div class="small-4 column">
                                <label>@Html.DisplayNameFor(model => model.PhoneNumber)</label>
                            </div>
                            <div class="small-8 column">
                                @Html.DisplayFor(model => model.PhoneNumber)
                            </div>
                        </div>
                        <div class="row customer-details">
                            <div class="small-4 column">
                                <label>@Html.DisplayNameFor(model => model.Email)</label>
                            </div>
                            <div class="small-8 column">
                                @Html.DisplayFor(model => model.Email)
                            </div>
                        </div>
                    </div>

                    <div class="medium-6 column">
                        <div class="row customer-details">
                            <div class="small-4 column">
                                <label>@Html.DisplayNameFor(model => model.Address)</label>
                            </div>
                            <div class="small-8 column">
                                @Html.DisplayFor(model => model.Address)
                            </div>
                        </div>
                        <div class="row customer-details">
                            <div class="small-4 column">
                                <label>@Html.DisplayNameFor(model => model.City)</label>
                            </div>
                            <div class="small-8 column">
                                @Html.DisplayFor(model => model.City)
                            </div>
                        </div>
                        <div class="row customer-details">
                            <div class="small-4 column">
                                <label>@Html.DisplayNameFor(model => model.State)</label>
                            </div>
                            <div class="small-8 column">
                                @Html.DisplayFor(model => model.State)
                            </div>
                        </div>
                        <div class="row customer-details">
                            <div class="small-4 column">
                                <label>@Html.DisplayNameFor(model => model.Zip)</label>
                            </div>
                            <div class="small-8 column">
                                @Html.DisplayFor(model => model.Zip)
                            </div>
                        </div>
                    </div>

                </div>
            </section>
        </div>
        </div>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.CustomerId }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
