@model IEnumerable<OGSys.Web.Models.Customer>

@{
    ViewBag.Title = "Customer Database";
}

<h1>Customer Database</h1>


<div class="row" style="margin-bottom: 10px">
    <div>
        <hr />
        <h5>
            <b>Options: </b>
            <i class="fi-page-edit"></i> Edit Customer |
            <i class="fi-info"></i> Customer Details |
            <i class="fi-page-delete"></i> Delete Customer | 
            @Html.ActionLink(" Create New Customer", "Create", null, new { @class = "fi-page-add" })
        </h5>
        <hr />
    </div>
</div>

<div class="row">
    <table class="large-12 column has-shadow">
        <tr>
            <th>Name</th>
            <th>Company</th>
            @*<th>Phone</th>*@
            <th style="max-width:100px">Email</th>
            <th style="min-width:110px">Options</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td style="max-width:150px">@Html.DisplayFor(modelItem => item.LastName), @Html.DisplayFor(modelItem => item.FirstName)</td>
                <td>@Html.DisplayFor(modelItem => item.CompanyName)</td>
                @*<td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>*@
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td style="font-size:1.8em">
                    <a href="@Url.Action("Edit", "Customer", new { id = item.CustomerId })"><i class="fi-page-edit"></i></a>
                    <a href="@Url.Action("Details", "Customer", new { id = item.CustomerId })"><i class="fi-info"></i></a>
                    <a href="@Url.Action("Delete", "Customer", new { id = item.CustomerId })"><i class="fi-page-delete"></i></a>
                </td>
            </tr>
        }

    </table>
</div>

<div class="row" style="margin-bottom: 10px">
    <div class="small-12 column">
        <h5>
            <b>Options: </b>
            <i class="fi-page-edit"></i> Edit Customer |
            <i class="fi-info"></i> Customer Details |
            <i class="fi-page-delete"></i> Delete Customer | 
            @Html.ActionLink(" Create New Customer", "Create", null, new { @class = "fi-page-add" })
        </h5>
    </div>
</div>