@model IEnumerable<OGSys.Web.Models.Customer>

@{
    ViewBag.Title = "Customer Database";
}

<div class="row" style="margin-top:30px">
    <div class="medium-8 columns">
        <h2>Demo Customer Database</h2>
    </div>
    <div class="medium-4 columns" align="right">
        <p>
            @Html.ActionLink("Create New Customer", "Create", null, new { @class = "small button" })
        </p>
    </div>
</div>

<table>
    <tr>
        <th>Name</th>
        <th>Company</th>
        <th>Phone</th>
        <th style="max-width:10%">Email</th>
        <th>Options</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.LastName), @Html.DisplayFor(modelItem => item.FirstName)</td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>@Html.DisplayFor(modelItem => item.Email)</td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CustomerId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CustomerId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CustomerId })
        </td>
    </tr>
}

</table>
