@model ICollection<Microsoft.AspNet.Identity.UserLoginInfo>

@if (Model.Count > 0)
{
    <h4>Registered Logins</h4>
    <div class="row">
        <div>
            @foreach (var account in Model)
            {
                <div>
                    <div class="small-6 column">
                        @account.LoginProvider
                    </div>
                    <div class="small-6 column">
                        @if (ViewBag.ShowRemoveButton)
                        {
                            using (Html.BeginForm("Disassociate", "Account"))
                            {
                            @Html.AntiForgeryToken()
                            <div>
                                @Html.Hidden("loginProvider", account.LoginProvider)
                                @Html.Hidden("providerKey", account.ProviderKey)
                                <input type="submit" class="tiny button" value="Remove" title="Remove this @account.LoginProvider login from your account" />
                            </div>
                            }
                        }
                        else
                        {
                            @: &nbsp;
                        }
                    </div>
                </div>
            }
        </div>
    </div>
}
