@model OGSys.Web.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "Register";
}
<h2>@ViewBag.Title.</h2>
<h3>Associate your @ViewBag.LoginProvider account.</h3>

@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()


    <div class="row">
        <div class="medium-6 column">
            <div class="contentBox has-shadow">
                <section id="loginForm">
                    <h4>Association Form</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <p class="text-info">
                        You've successfully authenticated with <strong>@ViewBag.LoginProvider</strong>.
                        Please enter a user name for this site below and click the Register button to finish
                        logging in.
                    </p>
                    <div class="row">
                        @Html.LabelFor(m => m.Email, new { @class = "medium-2 column" })
                        <div class="medium-10 column">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="medium-10 column">
                            <input type="submit" class="small button right" value="Register" />
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
