@using OGSys.Web.Models
@model OGSys.Web.Models.RegisterViewModel

@{
    ViewBag.Title = "Register";
}

<h1>@ViewBag.Title</h1>

<div class="row" style="margin-bottom: 10px">
    <div>
        <hr />
        <h5>Please <a href="@Url.Action("Login","Account")">log in</a> or register to gain access to the customer database for testing.</h5>
    </div>
    <hr />
</div>

<div class="row">
    <div class="medium-6 column">
        <div class="contentBox has-shadow">
            <section id="registerForm">
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4>Create a new account.</h4>
                    <hr />
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="row">
                        @Html.LabelFor(m => m.Email, new { @class = "medium-2 column control-label" })
                        <div class="medium-10 column">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        @Html.LabelFor(m => m.Password, new { @class = "medium-2 column control-label" })
                        <div class="medium-10 column">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "medium-2 column control-label" })
                        <div class="medium-10 column">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="button-group" align="right" style="margin-top:.4rem">
                        <input type="submit" class="small button" value="Register" />
                    </div>
                }
            </section>
        </div>
    </div>

    <div class="medium-6 column">
        <div class="contentBox has-shadow">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { Action = "ExternalLogin", ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>
    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
