<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Customer Manager Demo</title>
    @Styles.Render("~/Content/Site.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <section id="top-nav-bar">
        @Html.Partial("_TopBar")
    </section>

    <section id="content">
        <div class="row">
            <div class="large-12 column">
                <div style="margin:10px">
                    @RenderBody()
                    <hr />
                    <footer id="footer">
                        <p>&copy; @DateTime.Now.Year - <a href="http://www.rturek.com/" target="_blank">Ryan.Turek</a></p>
                    </footer>
                </div>
            </div>
        </div>
    </section>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/foundation")
    @RenderSection("scripts", required: false)
    
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/foundation/foundation.js"></script>
    <script src="~/Scripts/foundation/foundation.topbar.js"></script>

    <script>
            $(document).foundation();
    </script>
</body>
</html>
